.App {
  text-align: center;
}

.App-header {
  background-color: #033076;
  min-height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

h4 {
  font-style: italic;
}

.fancyDiv{
  text-align: right;
  margin-right: 50px;
  margin-bottom: 50px;
}

.fancyBtn{
  background-color: #033076;
  color: white;
  font-size: large;
  font-style: italic;
  margin-right: right;
}